// górny wiersz stopki
.an-footer-top {
    position: relative;
    padding: 80px 0 20px;
    background: url('../images/bg/footer-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    &:after {
        @include an-bg-overlay($an-black, .80);
    }
}

.an-footer-top-content {
    @include an-relative-zindex;
}

.an-footer-text {
    font-size: .75rem;
    color: $gray-600;
}

.an-footer-p {
    line-height: 2;
}

// kolumna kontakt
.an-footer-contact-list {
    margin-bottom: .75rem;
}

.an-footer-contact-item {
    padding: .2rem 0;
}

.an-social-box {
    @include an-size(26px, 26px);
}

// kolumna newsletter
.an-newsletter-form-group {
    margin-bottom: .75rem;
}

.an-newsletter-form-control {
    height: 1.55rem;
    font-size: .75rem;
}

.an-newsletter-btn {
    padding: .25rem 1rem;
    font-size: .625rem;
}

// sekcja copyright
.an-copy {
    padding: 1rem 0;
    font-size: .75rem;
}
.an-copy-second {
    margin-top: .25rem;
    font-size: .625rem;
}