.nav-tabs {
    .nav-item .nav-link {
        padding: .5rem 2rem;
        font-size: .6875rem;
        font-family: $an-font-family-extra;
        color:$gray-900;
        letter-spacing: .15rem;
        background-color: $gray-200;
        @include media-breakpoint-up(md) {
            padding: .5rem 5rem;
        }
    }

    .nav-item .nav-link.active {
        color: $an-white;
        background-color: $an-accent-color;
    }
}