// sekcja powitalna
.an-front-page-welcome {
    padding: 60px 0 70px;
}

// sekcja portfolio
.an-front-page-portfolio {
    padding: 70px 0 75px;
}

.an-front-page-portfolio-last {
    margin-top: 29px;
}

// sekcja usługi
.an-front-page-services {
    padding: 65px 0 30px;
}

// sekcja aktualności
.an-front-page-blog {
    padding: 65px 0 0 ;
    .an-post-box {
        margin-bottom: 75px;
    }
}